h1{
  font-family:sans-serif ;
  justify-content: center;
  font-size: 60px;
  line-height: 70.35px;
  padding-top: 50px;
}
img{
  
  border-radius: 50%;
  width:741.27px;
  height:741.27px;
  top: 23.87px;
  
  transform: scaleX(-1);
  align-items: right;
  
}
.ContactS1{
  display:flex;
  justify-content: space-around;
  color:white;
  display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 1fr 1fr;
}
button{
  border-radius: 50px;
  border-width: thick;
  font-family: sans-serif;
  color: white;
  background-color:rgba(0, 0,0, 1) ;
  width: 350px;
  height: 50px;
  left: 109px;
  top:-2px;
  border-color:purple;
}